    <ion-header [translucent]="true" style="height:30% ; background-color: orange;">

      <ion-item style="background:orange; width:100%; height:50%; visibility:hidden;">
      </ion-item>
      
      <ion-item style="background:white; width: 85%; height:100%;border-radius: 50%/100%; border-bottom-left-radius: 0;border-bottom-right-radius: 0;visibility: inherit;">
        <ion-img class="img-logo" src="../../assets/4oranges.png" style="width: 100%;"></ion-img>
      </ion-item>

    </ion-header>

    <ion-header [translucent]="true" style="height:70%; display:flex;">
      <label style="width: 90%;">
        <ion-input type="text" class="ip-fm" placeholder="Nhập Chứng Minh Nhân Dân"><ion-icon class="key" name="key-outline"></ion-icon></ion-input>
        <ion-buttom class="btn-Lg btn-block">ĐĂNG NHẬP</ion-buttom>
      </label>
    </ion-header>