*{
    background: white;
    margin: 0 auto;
    padding: 0;
}
.container-Lg{
    width: 100%;
    height: auto;
}
.top-Lg{
    margin: 0;
    padding: 0;
    background-color: orange;
    width: 100%;
    height: 200px;
}
.Login{
    
    width: 100%;
    height: 500px;
}
#form-login{
    transform: translateY(-107px);
    border-radius: 300px;
    background-color: white;
    width: 85%;
    height: 85%;
    margin: 0 auto;
}
.frm-lg1{
    background-color: rgba(255, 255, 255, 0);
    transform: translateY(50px);
}
.ip-fm{
    border-bottom: solid 1px rgb(170, 170, 170);
    margin:20px auto;
    color: rgb(110, 110, 110);
}
.logo{
    
    width: 130px;
    justify-items: center;
}
.img-logo{
    
    width: 130px;
}
.ctn-btn-lg{
    width: 100%;
    margin-top: 60px;
}
.btn-Lg{
    text-align: center;
    border-radius: 7px;
    color: orange;
    padding:10px 0;
    border: solid 1px orange;
    transition: all 0,2s linear;
}
.btn-Lg:hover{
    color: white;
    background: orange;
}
.btn-block{
    display: inline-block;
    width: 100%;
}
.icon{
    width: 64px;
    margin:0 auto;
}
ion-icon{
    color: orange;
}
.key{
    float:right;
    color: rgb(106, 106, 106);
}
