<ion-content>
  <ion-div class="container-Lg">
    <ion-div class="top-Lg">
    </ion-div>
    <ion-div class="Login">
      <ion-form id="form-login" action="" ><ion-div class="frm-lg1">
        <ion-div class="logo">
        <ion-img class="img-logo" src="../../assets/4oranges.png" />
        </ion-div>
        
        <ion-input type="text" class="ip-fm" placeholder="Nhập Chứng Minh Nhân Dân"><ion-icon class="key" name="key-outline"></ion-icon></ion-input>
        <ion-div class="ctn-btn-lg"><ion-buttom class="btn-Lg btn-block">ĐĂNG NHẬP</ion-buttom></ion-div></ion-div>
      </ion-form>
    </ion-div>
  </ion-div>
</ion-content>
