<ion-content>
  <div class="container-Lg">
    <div class="top-Lg">
    </div>
    <div class="Login">
      <form id="form-login" action="" ><div class="frm-lg1">
        <div class="logo">
        <img class="img-logo" src="../../assets/4oranges.png" />
        </div>
        
        <ion-input type="text" class="ip-fm" placeholder="Nhập Chứng Minh Nhân Dân"><ion-icon class="key" name="key-outline"></ion-icon></ion-input>
        <div class="ctn-btn-lg"><ion-buttom class="btn-Lg btn-block">ĐĂNG NHẬP</ion-buttom></div></div>
      </form>
    </div>
  </div>
</ion-content>
